<br/>

<div class="booyah-box col-10 offset-1">
  <div>
    <br/>
    <h1>Privacy Policy</h1>
    <br/>
  </div>
  
  <div>
    <ul class="nobull">
        <li>
          <%= image_tag "kobu-agency-685117-unsplash.jpg", width: "350px"  %>
                 
          <br/>
        
        </li>
    </ul>
  </div>
   
  <div>
    <br/>
    <p>
      We are currently making updates to the Privacy Policy.
    </p>
  </div>
  
  <br/>
  <br/>
    <%= link_to 'Find Your Next Course Here', courses_path, class: 'btn btn-success' %>
    <br/><br/>
</div>